{% extends "base.html" %}

{% block content %}
<div class="container" style="text-align: center;"><h2>Frequently Asked Questions</h2></div>

<div class="container" style="justify-content: center; width: 50%;">
<h4>
<ol>
  <li>
    What is DataMart?<br>
    <h5>DataMart is an online marketplace for buying and selling data.</h5>
  </li>
  <br>
  <li>
    What kind of data can I sell?<br>
    <h5>Any kind, as long as it adheres to our privacy policy.</h5>
  </li>
  <br>
  <li>
    How to upload a dataset with multiple files?<br>
    <h5>Compress all the files into a zip/rar file and upload.</h5>
  </li>
</ol>
</h4>
</div>

{% endblock %}