{% extends "base.html" %}

{% block content %}
  <div class="container" style="text-align: center;"><h2>Update License</h2></div>
  <div>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.license_upload.label }}<br>
        {{ form.license_upload(style="width:60%; display:inline;") }}
        {% for error in form.license_upload.errors %} 
          <span class="alert alert-warning">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit(class_="btn btn-primary") }}
        {{ form.back(class_="btn btn-danger") }}
      </p>
    </form>
    
  </div>
{% endblock %}